<section class="container">
    <div class="content">

        <div class="content__header">
            <h1>Dashboard</h1>
        </div>

        <mat-divider></mat-divider>

        <div class="content__dashboard">
            <div class="container-kpi">
                
                <div>
                    <p id="value">5</p>
                    <p id="label">Projetos</p>
                </div>

                <div>
                    <p id="value">5</p>
                    <p id="label">Projetos</p>
                </div>

                <div>
                    <p id="value">5</p>
                    <p id="label">Projetos</p>
                </div>

                <div>
                    <p id="value">5</p>
                    <p id="label">Projetos</p>
                </div>

                <div>
                    <p id="value">5</p>
                    <p id="label">Projetos</p>
                </div>
                
            </div>
        </div>

    </div>
</section>
